<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chatroom">

	<select id="getJoinedRoomListByUserId" parameterType="int" resultType="chatroom">
		select chatroom_id, item_id, seller_id, buyer_id
		from chatroom
		where seller_id = #{userId} or buyer_id = #{userId}
	</select>
	
	<select id="checkExistChatroom" parameterType="chatroom" resultType="chatroom">
		select chatroom_id
		from chatroom
		where ((seller_id=#{sellerId} and buyer_id=#{buyerId})
		or  (seller_id=#{buyerId} and buyer_id=#{sellerId})) and item_id=#{itemId}
	</select>
	
	<insert id="insertChatroom" parameterType="chatroom" useGeneratedKeys="true" keyProperty="chatroomId" keyColumn="chatroom_id">
		insert into chatroom(item_id, seller_id, buyer_id)
		values(#{itemId}, #{sellerId}, #{buyerId})
	</insert>

	<update id="updateReadTime" parameterType="ChatRoomRequest">
		update message
		set receive_time = now()
		where chatroom_id=#{id} and receiver_id=#{userId}
	</update>
	
</mapper>
