<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chatroom">

	<select id="getJoinedRoomListByUserId" parameterType="int" resultType="chatroomResponse">
		select chatroom_id, item_id, seller_id, buyer_id
		from chatroom
		where seller_id = #{userId} or buyer_id = #{userId}
	</select>
	
</mapper>
