<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="favorite">
	<insert id="insertFavorite" parameterType="favorite">
		insert into favorite(user_id, item_id) values(#{userId}, #{itemId})
	</insert>
	
	<delete id="deleteFavorite" parameterType="favoriteDeleteReq">
		delete from favorite where 
		favorite_id in (select favorite_id 
				where user_id = #{userId} and item_id = #{itemId});
	
	</delete>
	
	
	<select id="getFavoriteList" parameterType="int" resultType="itemResponse">
		select i.item_id, i.user_id, i.title, i.price, i.content, i.category, i.status, i.date 
		from (select * from item where delflag = 0) as i, (select item_id, date from favorite where user_id = #{userId}) as f 
		where f.item_id = i.item_id 
		order by f.date desc
	</select>
	
	<select id="isFavorited" parameterType="itemInfoRequest" resultType="boolean">
	  select if(count(*) = 1, 1, 0)
	  from favorite
	  where item_id = #{itemId} and user_id = #{userId}
	</select>
</mapper>